
.login-wrapper {
	padding-top: 50px;
	margin: 0 auto;
	margin: 50px auto;
	min-width: 400px;
	max-width: 600px;
}

.buttons {
	text-align: right;
	margin: 10px 0 50px 0;
}

.flex-layout {
	display: flex;
}
.flex-span {
	width: 100px;
}
.flex-form {
	flex: 1;
}

.search-input {
	margin: 0 auto;
	min-width: 400px;
	max-width: 600px;
}

.dragger-box {
	margin: 20px auto;
	width: 80%;
}

.search-list {
	margin: 50px 10px;
}

.list-item:hover {
	background: #F9F9F9;
}

.list-content {
	display: flex;
	flex: 2; 
	justify-content: center;
}

.list-infinite-container {
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	overflow: auto;
	padding: 8px 24px;
	height: 500px;
}
.list-loading-container {
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;
}

pre { 
	white-space: pre-wrap; /* css-3 */ 
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ 
	white-space: -pre-wrap; /* Opera 4-6 */ 
	white-space: -o-pre-wrap; /* Opera 7 */ 
	word-wrap: break-word; /* Internet Explorer 5.5+ */ 
}

.file-item {
	position: relative;
	width: 100%;
	text-align: center;
	line-height: 30px;
	border-bottom: 1px solid #F2F2F2;
}
.file-item-uploaded {
	color: #46BD15;
}
.file-remove {
	position: absolute;
	right: 30px;
	line-height: 30px;
}

.modal-wrapper {
	max-height: 700px;
	margin-top: 30px;
}